.product_card{
    height: 430px;
    width: 280px;
    border: 1px solid black;
    padding-left: 5px;
    box-sizing: border-box;
    background-color: cadetblue;
    border-radius: 15px;
    margin-top: 15px;
    filter: drop-shadow(51px 64px 99px rgba(0, 0, 0, 0.51));
}
body{
    background-color: lightsteelblue;
}
.card_photo{
    width:70%;
    display: block;
    margin: auto;
    margin-bottom: 30px;
}
.product{
    font-family:Roboto;
    font-weight: 700;
    font-size: 18px;
    margin: 0;
}
.button{
    display: block;
    margin: auto;
    width: 80%;
    background-color: lightsteelblue;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-family: Roboto;
    margin-top: 10 px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.price{
    font-family: Roboto;
    font-weight: 100;
}
